/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.whtiePane {
	-fx-background-color: #fafafa;
}

.blackPane {
	-fx-background-color: #303030;
}

.transparencyBtn {
	-fx-background-color: rgba(255.0, 255.0, 255.0, 0.0);
	-fx-border-color: rgba(255.0, 255.0, 255.0, 0.0);
}

.grayBtn {
	-fx-background-color: #E2E2E2;
	-fx-background-radius: 5.0px;
	-fx-border-color: #E2E2E2;
	-fx-border-radius: 5.0px;
	-fx-padding: 8.0px 25.0px;
}

.grayBtn:hover {
	-fx-background-color: #d6d6d6;
	-fx-border-color: #d6d6d6;
}

.transparencyTextfield {
   -fx-border-color: rgba(190.0, 190.0, 190.0, 1.0);
   -fx-border-width: 0 0 1 0;
   -fx-background-color: transparent;
}

#blueBtn {
	-fx-background-color: #1187CF;
	-fx-background-radius: 5.0px;
	-fx-border-color: #1187CF;
	-fx-border-radius: 5.0px;
	-fx-padding: 8.0px 25.0px;
}

#blueBtn:hover {
	-fx-background-color: #1187CF;
	-fx-border-color: #1187CF;
}